h1 {
  font-size: 10rem;
  font-weight: 900;
  line-height: 1.35;
  color: $color-secondary--1;
}

h2 {
  font-size: 4rem;
  font-weight: 900;
  line-height: 1.2;
}

h3 {
  font-size: 2.5rem;
  font-weight: 900;
  line-height: 1.35;
  padding-bottom: 0.85em;
}

p {
  line-height: 1.3;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
}
