// Colors
// $color-dark--1: #141414;
$color-dark--1: #222222;
// $color-dark--2: #414141;
$color-dark--2: #2c3545;
$color-white: #fff;
$color-base: #d1d1d1;
$color-primary: #f86449;
$color-primary-fade: #f5755e;
$color-secondary--1: #fff55a;
$color-secondary--2: #2aacc8;

// Fixed values
$border-radius--small: 2px;
$header-height: 120vh;
$padding: 2em;

// Transformations
$transition-bg: transform 1000ms cubic-bezier(0.7, 0, 0.3, 1) 0ms;
$transition-heading: all 1000ms cubic-bezier(0.7, 0.2, 0.3, 1) 0ms;
