// Colors
$color-dark--1: #282f3cf0;
$color-dark--2: #2c3545;
$color-white: #fff;
$color-base: #d1d1d1;
$color-base--2: #e7e7e7;
$color-base--3: #8c96a8;
$color-base--4: #fffdd0;
$color-primary: #f86449;
$color-primary-fade: #f5755e;
$color-secondary--1: #fff55a;
$color-secondary--2: #2aacc8;

// Fixed values
$border-radius--small: 2px;
$header-height: 140vh;
$header-height-t: 160vh;
$header-height-m: 180vh;
$padding: 2.5em;

// Transformations
$transition-bg: transform 700ms cubic-bezier(0.7, 0, 0.3, 1) 0ms;
$transition-heading: all 700ms cubic-bezier(0.7, 0.2, 0.3, 1) 0ms;
