.section__about {
  background-color: $color-primary-fade;
  height: 500px;
  transform: skewY(-5deg) translateY(-20px);
} /******************************************************************************/
