.section__about {
  background-image: linear-gradient(
      to right bottom,
      rgba($color-primary, 0.85),
      rgba($color-primary-fade, 0.85)
    ),
    url(../../src/imgs/code.jpg);
  background-size: cover;
  // background-color: $color-primary-fade;
  height: 500px;
  transform: skewY(-5deg) translateY(-2rem);
  padding: $padding;
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // background-color: gray;
  transform: skewY(5deg);

  &__heading {
    margin: 1rem 0 3rem;
    letter-spacing: 0.05em;
    position: relative;

    @include section-heading-style;
  }

  &__info {
    font-weight: 700;
  }
}
