.header {
  background-color: $color-dark--1;
  height: 90vh;

  &__bar {
    background-color: $color-dark--1;
    display: flex;
    justify-content: space-between;
  }

  &__color {
    background-color: $color-primary;
    width: 50%;
    height: 100%;
  }
}

.logo {
  margin: 1rem;

  &-svg {
    fill: $color-base;
    stroke: $color-base;
  }
}
