.header {
  background-color: $color-dark--1;
  height: $header-height;

  &__bar {
    display: flex;
    justify-content: space-between;
  }

  &__color {
    position: absolute;
    top: 0;
    background-color: $color-primary;
    width: 100%;
    height: $header-height;
    z-index: 0;
    transform: translateX(-50%);
    transition: $transition-bg;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    &.scroll {
      transform: translateX(0);
      transition: $transition-bg;

      & + .header__heading--container {
        left: 100%;
        transition: $transition-heading;
      }
    }
  }

  &__heading--container {
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: $transition-heading;
  }

  &__info {
    padding: 2em;

    &--para {
      font-family: "Ubuntu", sans-serif;
      font-weight: 700;

      & span {
        max-width: 200px;
      }
    }
  }
}

.logo {
  margin: 1rem;
  z-index: 2;

  &-svg {
    fill: $color-base;
    stroke: $color-base;
  }
}
