.section__projects {
  padding: 3rem 0;
  background-color: $color-dark--2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.projects {
  display: flex;

  &__heading {
    @include section-heading-style;
  }

  &__projects {
    padding: 1.5rem 3.5rem;
    margin-bottom: 1rem;
    border-radius: $border-radius--small;

    @include respond(phone) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;
      padding: 5rem 3.5rem;
    }
  }

  &__div {
    @include respond(phone) {
      width: 100%;
      display: flex;
      justify-content: space-around;
      padding: 1.5rem 0;
    }
  }

  &__project {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: hidden;
    border-radius: $border-radius--small;
    margin-bottom: 2.5rem;
    max-width: 28rem;

    @include respond(phone) {
      max-width: 18rem;
    }

    @include respond(tab-port) {
      max-width: 25rem;
    }

    &:hover {
      & .projects__container {
        bottom: 0;
      }

      & .projects__img img {
        filter: brightness(50%);
      }
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    background-color: $color-white;
    position: absolute;
    bottom: -100%;
    transition: $transition-heading;
    border-radius: $border-radius--small;
  }

  &__name {
    width: 100%;
    font-size: 2.5rem;
    line-height: 150%;
    text-align: center;
    background-color: $color-primary;

    @include respond(phone) {
      font-size: 1.8rem;
    }
  }

  &__info {
    // font-size: 1.3rem;
    color: #000;
    font-weight: 400;
    padding: 1.5rem;

    @include respond(phone) {
      font-size: 1.3rem;
      padding: 0.5rem;
    }
  }

  &__img {
    width: 100%;
    position: relative;
    border-radius: $border-radius--small;

    & img {
      transition: $transition-heading;
      width: 100%;
    }
  }
}
